# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build
.next/
frontend/.next/
/frontend/.next/

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Testing
/coverage
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Redis
dump.rdb

# MongoDB
/data/db

# Docker
docker-compose.override.yml

# Misc
.cache/
.temp/

